.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 6rem;
}

.navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.sign-in {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-links p,
.sign-in p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
  cursor: pointer;
}

.sign-in button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #ff4820;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.sign-up {
  display: none;
}

@media screen and (max-width: 1050px) {
  .navbar-links {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 2rem;
  }

  .sign-in {
    display: none;
  }

  .sign-up {
    display: block;
  }
}
